@model Timetables.Web.Models.FestivalViewModel

@{
    ViewData["Title"] = "Timetables.Web";
}

<div class="text-left">    
    <div>
        <h2>@Model.FestivalName</h2>
        <br />
        <span><strong>Festival Id: </strong> @Model.FestivalId</span>

        @*@{ Html.RenderPartial("~Views/Instructors/_AllInstructors", Model.FestivalId) }*@
        <br />
        <span>View the instructors for this Festival <a href="@Url.RouteUrl(RouteKeys.Instructors.All, new { festivalId = Model.FestivalId})">here</a></span>
        
        <br />
        <a href="@Url.RouteUrl(RouteKeys.Festival.All)">Back</a>
    </div>

</div>
