@model Timetables.Web.Models.HomeViewModel

@{
    ViewData["Title"] = "Timetables.Web";
}

<div class="text-left">
    <h1 class="display-4">Welcome to Timetables.Web</h1>
    
    <div>
        <h2>There are currently @Model.Festivals.Count Festivals in the system</h2>
        <br />

        @foreach (var festival in Model.Festivals)
        {
            <span>@festival.Name</span> <a href="@Url.RouteUrl(RouteKeys.Festival.ById, new { id = festival.FestivalId })">View</a>
            <br />
        }

        <br />
        <a href="@Url.RouteUrl(RouteKeys.Festival.CreateForm)">Add</a>
    </div>

</div>
